{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/show.css">
{% endblock %}

{% block title %}Maitre " ADMINISTRATEUR " | Blog : {{ article.title }} {% endblock %}

{% block body %}

<div class="row mt-2">
    <div class="col-12 p-0 layoutArticle">

        <div class="container-fluid">
            {# Partie Article à afficher #}
            <div class="row d-flex justify-content-center align-items-center flex-nowrap">
                <div class="lineDesign"></div>
                <div class="col-8 p-0 articleMediaQuerie">

                    <div class="card mb-3 bgCards p-3">
                        <div class="card-body">

                            <h1 class="card-title colorCards">{{ article.title }}</h1>
                            <div class="d-flex align-items-baseline">
                                <p class="colorWhite fs-5">
                                    Catégorie
                                </p>
                                <i class="ms-2 badge rounded-pill bgReply2 fw-normal fs-6">
                                    {{ article.category.title}}
                                </i>
                            </div>
                            <p class="card-text colorCards">
                                {{ article.content | raw }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Écrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('d/m/Y')}}</small>
                            </p>

                            <div class="col-7 d-flex">
                                {% if is_granted('ROLE_USER') %}

                                    <button type="button" class="btn btn-light btn-sm me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                        <a href="#"> Ajouter un commentaire</a>
                                    </button>

                                    {# modal pour affichage de la fenêtre d'ajout de commentaire #}
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un commentaire</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {{form_start(commentForm)}}
                                                {{ form_row(commentForm.email, {'attr': {'value': app.user.email }})}}
                                                <div class="mb-4">{{ form_row(commentForm.author, {'attr': {'value': app.user.username,}})}}</div>
                                                <div class="mb-4">{{ form_row(commentForm.content, {'attr': {'placeholder': "Tapez votre message",'id': "message-text"}})}}</div>
                                                <div class="mb-4">{{ form_row(commentForm.rgpd)}}</div>
                                            </div>
                                            <div class="modal-footer">
                                                {{ form_row(commentForm.envoyer)}}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            </div>
                                                {{form_end(commentForm)}}
                                            </div>
                                        </div>
                                    </div>
                                    {# Fin de modal #}

                                {% else %}

                                    <div class="btn btn-info" role="alert">
                                        Vous souhaitez ajouter un commentaire? <a href="{{ path('app_login') }}" class="alert-link text-decoration-underline">Connectez-vous.</a>
                                    </div>

                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="lineDesign"></div>
            </div>
            {# Fin de la partie article à afficher #}

            {# Début de la partie commentaire #}
            <div class="row justify-content-center mb-4 p-auto bgComment" id="comment">
                <div class="rounded" id="layoutCommentPart">

                    <section>

                        <h2 class="writeColor text-center text-decoration-underline">Commentaires</h2>

                        <div class="bgComment cardComment">
                            <div class="p-2 marginMediaQuerie">

                                {% for comment in article.comments %}
                                    {% if comment.parent == null %}

                                        <div class="mt-3 d-flex align-items-baseline">

                                            <div class="pt-2 me-2">
                                                <i class="fa-solid fa-circle-user" id="iconStyle"></i>
                                            </div>

                                            <h4>{{comment.author}} - </h4>

                                            <span class="text-muted ms-2">
                                                <small> {{comment.createdAt | date ('d/m/Y à H:i')}} </small>
                                            </span>

                                        </div>

                                        <p class="colorWhite ps-2 pe-2">
                                            {{comment.content | raw }}
                                        </p>

                                        {% if app.user %}

                                            <button type="button" class="btn btn-light btn-sm ms-2 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                                <a href="#" data-reply data-id="{{comment.id}}">Répondre</a>
                                            </button>

                                            <hr>

                                        {% else %}

                                        {% endif %}

                                        {% for reply in comment.replies %}
                                            <div class="col-8 ps-2 bgReply2 mt-3" id="LayoutReply">
                                                <div class="d-flex align-items-baseline">
                                                    <div class="pt-2 me-2">
                                                        <i class="fa-solid fa-circle-user" id="iconStyle"></i>
                                                    </div>
                                                    <h4>{{reply.author}}</h4>
                                                    <span class="colorWhite ms-2">
                                                        <small>{{reply.createdAt | date ('d/m/Y à H:i')}} </small>
                                                    </span>
                                                </div>

                                                <p class="colorBgNav">
                                                    {{reply.content | raw }}
                                                </p>

                                                {% if app.user %}

                                                <button type="button" class="btn btn-light btn-sm me-2 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                                    <a href="#" data-reply data-id="{{comment.id}}">Répondre</a>
                                                </button>

                                                {% else %}

                                                {% endif %}

                                            </div>
                                        {% endfor %}

                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>


                    </section>
                </div>
            </div>
            {# Fin de la partie commentaire #}

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>

        window.onload = () => {
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comment_parentid").value = this.dataset.id;
                });
            });
        }

    </script>

{% endblock %}
